* {
  border: 2px red solid;
}

body {
  @include globalText(2, 300);
  color: $fontColorD;
  background-color: $bgColor;
  padding-bottom: 50px;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

h1 {
  @include globalText(6, 700);
  color: $fontColorD;
  margin: 10px;
}

.hawkText {
  @include hawkText(9.5);
}

.doveText {
  @include doveText(12);
}

h2 {
  @include globalText(4, 700);
  color: $fontColorD;
  margin: 10px;
}

h2,
h3 {
  text-align: center;
}

.manual,
.pointBreakdown ul,
.mainTitle,
.scoreboard,
.choiceImage,
.choiceButton {
  display: flex;
}

.instructions {
  width: 30%;
}

.pointBreakdown {
  width: 60%;
}

.mainTitle {
  justify-content: center;
  align-items: center;
}

.scoreboard {
  justify-content: space-between;
  margin: 20px 0px;
  font-size: 3rem;
}

.scoreboard .user,
.scoreboard .computer {
  width: 30%;
  padding: 10px;
  background-color: $fontColorD;
  color: $fontColorL;
  text-align: center;
}

.scoreboard .score {
  font-size: 4rem;
}

.manual,
.pointBreakdown ul,
.choiceImage,
.choiceButton {
  justify-content: space-evenly;
  align-items: center;
}

.dove,
.hawk {
  width: 30%;
  position: relative;
}

.textOverlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  opacity: 0;
  transition: all .5s;
}

.textOverlay:hover,
.choiceImage img:focus + .textOverlay,
.choiceImage img:focus-withinwithin + .textOverlay {
  opacity: 1;
  cursor: help;
}

.textOverlay p {
  margin: 5rem;
  text-align: center;
  line-height: 4rem;
  color: $fontColorL;
}

.matchSummary {
  font-size: 10rem;
  color: $fontColorL;
}

.modal {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  transition: all 0.5s;
  text-align: center;
  padding: 20rem 5rem;
}

.modal p,
.modal span {
  @include globalText(4, 300);
  color: $fontColorL;
  margin: 10px 0px;
}

.modal span {
  padding: 10px;
  transition: all 0.4s;
}

.modal.doveText span:hover,
.modal.doveText span:focus,
.modal.doveText span:focus-within {
  color: $doveColor;
  cursor: pointer;
}

.modal.hawkText span:hover,
.modal.hawkText span:focus,
.modal.hawkText span:focus-within {
  color: $hawkColor;
  cursor: pointer;
}

.show {
  display: block;
}

form {
  margin: 20px auto;
}

form input#hawk {
  margin-left: 30px;
}

form button {
  font-family: inherit;
  font-size: inherit;
  display: block;
  margin: 25px auto;
  width: 50%;
  border: none;
  background-color: $fontColorD;
  color: $fontColorL;
  font-weight: 700;
  padding: 10px;
  transition: all 0.4s;
}

form label {
  font-size: 2.5rem;
}

form button:hover {
  color: $bgColor;
}

form label:hover,
form input:hover,
form button:hover {
  cursor: pointer;
}

form button:active,
form button:focus,
form button:focus-withinwithin {
  filter: brightness(0.7);
}

footer {
  padding: 10px;
  background-color: $fontColorD;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer p {
  text-align: center;
  color: $fontColorL;
  font-weight: 700;
}