$hawkColor: #8B0000;
$doveColor: #00BFFF;
$bgColor: #E0FFFF;
$fontColorD: #4D4D4D;
$fontColorL: #D3D3D3;
$hawkFont: 'Permanent Marker', cursive;
$doveFont: 'Allura', cursive;
$globalFont: 'Merriweather', serif;