html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: calc(5px + (10 - 5) * (100vw - 320px) / (1600 - 320));
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

* {
  border: 2px red solid;
}

body {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #4D4D4D;
  background-color: #E0FFFF;
  padding-bottom: 50px;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 6rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #4D4D4D;
  margin: 10px;
}

.hawkText {
  font-size: 9.5rem;
  font-family: "Permanent Marker", cursive;
  color: #8B0000;
}

.doveText {
  font-size: 12rem;
  font-family: "Allura", cursive;
  color: #00BFFF;
}

h2 {
  font-size: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #4D4D4D;
  margin: 10px;
}

h2,
h3 {
  text-align: center;
}

.manual,
.pointBreakdown ul,
.mainTitle,
.scoreboard,
.choiceImage,
.choiceButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instructions {
  width: 30%;
}

.pointBreakdown {
  width: 60%;
}

.mainTitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreboard {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px;
  font-size: 3rem;
}

.scoreboard .user,
.scoreboard .computer {
  width: 30%;
  padding: 10px;
  background-color: #4D4D4D;
  color: #D3D3D3;
  text-align: center;
}

.scoreboard .score {
  font-size: 4rem;
}

.manual,
.pointBreakdown ul,
.choiceImage,
.choiceButton {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dove,
.hawk {
  width: 30%;
  position: relative;
}

.textOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.textOverlay:hover,
.choiceImage img:focus + .textOverlay,
.choiceImage img:focus-withinwithin + .textOverlay {
  opacity: 1;
  cursor: help;
}

.textOverlay p {
  margin: 5rem;
  text-align: center;
  line-height: 4rem;
  color: #D3D3D3;
}

.matchSummary {
  font-size: 10rem;
  color: #D3D3D3;
}

.modal {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  padding: 20rem 5rem;
}

.modal p,
.modal span {
  font-size: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #D3D3D3;
  margin: 10px 0px;
}

.modal span {
  padding: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal.doveText span:hover,
.modal.doveText span:focus,
.modal.doveText span:focus-within {
  color: #00BFFF;
  cursor: pointer;
}

.modal.hawkText span:hover,
.modal.hawkText span:focus,
.modal.hawkText span:focus-within {
  color: #8B0000;
  cursor: pointer;
}

.show {
  display: block;
}

form {
  margin: 20px auto;
}

form input#hawk {
  margin-left: 30px;
}

form button {
  font-family: inherit;
  font-size: inherit;
  display: block;
  margin: 25px auto;
  width: 50%;
  border: none;
  background-color: #4D4D4D;
  color: #D3D3D3;
  font-weight: 700;
  padding: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

form label {
  font-size: 2.5rem;
}

form button:hover {
  color: #E0FFFF;
}

form label:hover,
form input:hover,
form button:hover {
  cursor: pointer;
}

form button:active,
form button:focus,
form button:focus-withinwithin {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

footer {
  padding: 10px;
  background-color: #4D4D4D;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer p {
  text-align: center;
  color: #D3D3D3;
  font-weight: 700;
}
